/* App.css */

@media print {
  body * {
      visibility: hidden !important;
  }

  .message-list, .message-list * {
      visibility: visible !important;
  }

  .message-list {
    display: block !important; /* Not really needed in all cases */
    position: relative !important;
    width: auto !important;
    overflow-y: auto !important;
    max-height: unset !important;
    margin: 0 10px !important;
  }
  #load-more{
    display:none;
    visibility:hidden;
  }
}
html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

.chat-wrapper {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #1b1b1b 0%,
    #363636 100%
  ); /* Dark gradient background */
}
.create-room-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #1b1b1b 0%,
    #363636 100%
  ); /* Dark gradient background */
}
.create-room-container {
  text-align: center;
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Transparent background to see the gradient */
  padding: 20px;
  border-radius: 10px;
}

.create-room-btn,
.join-room-btn {
  padding: 10px 20px;
  font-size: 16px;
  background: #4facfe; /* Blue color for buttons */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.separator {
  color: #fff;
  margin: 10px 0;
}

.room-key-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  color: #fff;
  background: transparent;
}

.butto-wrapper {
  display: flex;
  justify-content: center;
}

/* ChatPage styles */

.chat-container {
  text-align: center;
  /* margin-top: 50px; */
  background: linear-gradient(
    180deg,
    #1b1b1b 0%,
    #363636 100%
  ); /* Dark gradient background */
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}

.chat-header {
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-btn {
  padding: 5px 10px;
  font-size: 14px;
  background: #5f9b3b; /* Dark background */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 0.3s ease;
}

.copy-btn:hover {
  background: #444;
}

.leave-room-btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background: #ff6e7f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.online-members {
  color: #555;
}

.message-list {
  list-style: none;
  padding: 0;
  max-height: 60vh;
  overflow-y: auto;
  background: #1b1b1b; /* Dark background for messages */
  border-radius: 8px;
  padding: 10px;
}

.info-message-item {
  background: #0c0a04 !important;
  max-width: 100% !important;
}

.info-message-text {
  color: #fff;
}

.self-owner-message-item {
  background: #0f3b0a !important;
  margin-left: auto !important;
}

.other-owner-message-item {
  margin-right: auto !important;
}

.message-item {
  background: #3b3b3b;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* width: max-content; */
  max-width: 55%;
  display: flex;
  flex-direction: column;
}

.message-owner {
  font-weight: 100;
  display: inline-block;
  font-size: smaller;
  margin-right: auto;
  font-style: italic;
  color: #fff;
}

.self-owner-message-item > .text-message-text {
  color: #fff;
  margin-left: auto;
}
.other-owner-message-item > .text-message-text {
  color: #fff;
  margin-right: auto;
}

.self-owner-message-item > .timestamp{
  margin: 5px 0 0 auto;
  font-weight: bolder;
  display: inline-block;
  font-size: x-small;
  margin-right: auto;
  font-style: italic;
  color: #626264;
}
.other-owner-message-item > .timestamp{
  margin: 5px 0 auto 0;
  font-weight: bolder;
  display: inline-block;
  font-size: x-small;
  margin-right: auto;
  font-style: italic;
  color: #626264;
}

.message-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #1b1b1b;
}

.message-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #777;
  color: #000000;
}

.send-btn {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: #4facfe;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#myscroller {
  height: 10px; /* Spacer to ensure scrolling works as expected */
}
